<script>
	init = function(){
		jarallax = new Jarallax();
    	jarallax.addAnimation('.backgroundimage4',[{progress: "0%", top:"0%"}, {progress: "100%", top: "-50%"}]);	
    	jarallax.addAnimation('#board',[{progress: "0%", top:"10%"},{progress: "100%", top:"-"+200+"%"}]);
	}
</script>

<!--게시판 새글 작성-->
<div class="content">
	<span class="backgroundimage4"></span>
	<div id="board" class="container">
		<form method="post" action="/poststore" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">제목</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title" placeholder="title">
				</div>
			</div>
			<!--input값에 제목을 입력받음-->
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">작성자</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="author" placeholder="author" readonly="readonly" value="{{user}}">
				</div>
			</div>
			<!--user에서 받아온 작성자를 readonly를 통해 값을 바꾸지 못하게 했다.-->
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">내용</label>
				<div class="col-sm-10">
					<textarea type="text" class="form-control" name="content"></textarea>
				</div>
			</div>
			<!--textarea에 내용을 받아옴-->
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">사진</label>
				<div class="col-sm-10">
					<input type="file" name="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
				</div>
			</div>
			<!--사진 업로드해서 받아옴-->	
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn green pull-right " onclick="location.href='/postindex'">목록</button>
					<button type="button" class="btn orange pull-right post-submit" style="width:200px">작성</button>
				</div>
			</div>
			<!-- 제목, 작성자, 사진, 내용이 poststore을 저장-->
		</form>
	</div>
</div>
