<div class="content">
 <!--화면 패럴랙스 정의-->
	<span class="backgroundimage4"></span>
	  <!--배경 패럴랙스 정의-->
		  <div id="searchsa1">
	 <img src="/assets/css/images/logo3.png" width="850px" height="300px">
  <div id="searchsa2">
		<form method="get" action="/external/searchinfo">
			<br>
			<fieldset>
			<input class="ipsearch" type="text" class="search_txt" name="question" placeholder="휴게소를 검색해주세요"/>
			<button  class="btnsearch" type="submit">
			<i class="fa fa-search"></i>
			</button>
			<!--input입력후 button을 누르면 searchinfo로 submit되어 검색된다.-->
			</fieldset>
		</form>
	</div>
</div>
